<h1>Listing admin_user_tests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_user_tests.each do |admin_user_test| %>
      <tr>
        <td><%= admin_user_test.name %></td>
        <td><%= admin_user_test.email %></td>
        <td><%= link_to 'Show', admin_user_test %></td>
        <td><%= link_to 'Edit', edit_admin_user_test_path(admin_user_test) %></td>
        <td><%= link_to 'Destroy', admin_user_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User test', new_admin_user_test_path %>
