<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_user_test.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_user_test.email %>
</p>

<%= link_to 'Edit', edit_admin_user_test_path(@admin_user_test) %> |
<%= link_to 'Back', admin_user_tests_path %>
