 <%= form_for(@user,html: {class: 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name,class: 'col-sm-2 control-label' %><br>
    <div class="col-sm-10">
        <%= f.text_field :name,class: 'form-control'  %>
    </div>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

     <div class="field">
       <%= f.label :role %><br>
       <%= f.text_field :role %>
     </div>

  <div class="gravatar_edit">
       <%= gravatar_for @user %>
       <a href="http://gravatar.com/emails">change</a>
  </div>

  <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
