<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
      <li>
        <%= gravatar_for user%>
        <%= link_to user.name, user %>
      </li>
  <% end %>
</ul>

<%= will_paginate %>




#### Way to






<h1>Listing users in way 2 </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td><%= gravatar_for user %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user,class: 'btn btn-link' %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure to delete this user?' } %></td>


        <!-- Button trigger modal -->
        <button class="btn btn-link" data-toggle="modal" data-target="#todo-<%= user.id %>-notes">
          View userid <%= user.id %>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="todo-<%= user.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="todo-<%= user.id %>-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="todo-<%= user.id %>-label"><%= user.name %></h4>
              </div>
              <div class="modal-body">
                <%= user.email %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>



