<p id="notice"><%= notice %></p>

<%= javascript_include_tag "front-end/vinazen.js" %>
<p>
  <strong>Name:</strong>
  <%= @sprint.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @sprint.project_id %>
</p>




<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>





<div class="col-md-8">
  <% if @sprint.stories.any? %>
      <h3>Stories (<%= @sprint.stories.count %>)</h3>
      <ol class="stories">
        <%= render @stories %>
      </ol>
      <%= will_paginate @stories  %>
  <% end %>
</div>












<div style="display: none;" id="link">stories_id_story_update_status_sprint</div>

<div class="clear"></div>

<div class="wrap_column">
  <span  class="title"> Sprint's backlog</span>
<div class="column" id="sprint_backlog">


  <% @stories_in_sprint_backlog.each do |story_in_sprint| %>


      <div class="portlet" id="<%= story_in_sprint.id %>">
             <div class="portlet-content">
                <%= story_in_sprint.name  + " "+ story_in_sprint.position.to_s  %>
                <div id="image">abc</div>
                <div class="img"><img src="http://images4.fanpop.com/image/photos/22400000/Beautiful-Horse-horses-22410583-500-313.jpg" /></div>
             </div>
      </div>

  <% end %>


</div>
</div>


<div class="wrap_column">
  <span class="title"> In progress </span>
<div class="column" id="in_progress">


  <% @stories_in_progress.each do |story_in_progress| %>


      <div class="portlet" id="<%= story_in_progress.id %>">
        <div class="portlet-content"><%= story_in_progress.name  + " "+ story_in_progress.position.to_s  %></div>
      </div>

  <% end %>


</div>
</div>

<div class="wrap_column">
<span class="title"> Done</span>
<div class="column" id="sprint_done">


  <% @stories_in_done.each do |story_done| %>


      <div class="portlet" id="<%= story_done.id %>">
        <div class="portlet-content"><%= story_done.name  + " "+ story_done.position.to_s  %></div>
      </div>

  <% end %>


</div>
</div>

<div class="clear"></div>