<%= javascript_include_tag "front-end/front-end.js" %>

<%= javascript_include_tag "front-end/vinazen.js" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'List of stories', stories_path(project_id: @project.id) %>|
<%= link_to 'Add story', new_story_path(id: @project.id) %>|
<%= link_to 'List of sprint', sprints_path(project_id: @project.id) %>|

<!--
#or can write (:id => @project.id)
-->


<div class="col-md-8">
  <% if @project.stories.any? %>
      <h3>Stories (<%= @project.stories.count %>)</h3>
      <ol class="stories">
        <%= render @stories %>
      </ol>
      <%= will_paginate @stories %>
  <% end %>
</div>






<div style="display: none;" id="link">stories_id_story_update_status</div>

<div class="wrap_column">
  <span  class="title"> Project's backlog</span>
  <div class="column" id="project_backlog">


    <% @stories_in_backlog.each do |story_in_backlog| %>


        <div class="portlet" id="<%= story_in_backlog.id %>">
          <div class="portlet-content">
            <%= story_in_backlog.name  + " "+ story_in_backlog.position.to_s  %>
            <div id="image">abc</div>
            <div class="img"><img src="http://images4.fanpop.com/image/photos/22400000/Beautiful-Horse-horses-22410583-500-313.jpg" /></div>
          </div>
        </div>

    <% end %>


  </div>
</div>






<div class="wrap_column">
  <span  class="title"> Sprint's backlog</span>
  <div class="column" id="sprint_backlog">


    <% @stories_in_sprint.each do |story_in_sprint| %>


        <div class="portlet" id="<%= story_in_sprint.id %>">
          <div class="portlet-content">
            <%= story_in_sprint.name  + " "+ story_in_sprint.position.to_s  %>
            <div id="image">abc</div>
            <div class="img"><img src="http://images4.fanpop.com/image/photos/22400000/Beautiful-Horse-horses-22410583-500-313.jpg" /></div>
          </div>
        </div>

    <% end %>


  </div>
</div>






<div class="clear"></div>