<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :backlog %><br>
    <%= f.check_box :backlog %>
  </div>

  <div class="field">
      <%= f.label :position  %><br>
      <%= f.text_field :position %>
  </div>




    <%= f.hidden_field :sprint_id, value: @story.sprint_id %>
    <%= f.collection_select :sprint_id, Sprint.all, :id, :name, :prompt => true %>



    <div class="field">
    <%= f.label :input %><br>
    <%= f.text_field :input %>
  </div>
  <div class="field">
    <%= f.label :output %><br>
    <%= f.text_field :output %>
  </div>
  <div class="field">
    <%= f.label :ratting %><br>
    <%= f.number_field :ratting %>
  </div>

 <%= f.hidden_field :project_id, value: @story.project_id %>
 <%= f.collection_select :project_id, Project.all, :id, :name, :prompt => true %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
