



  <li id="micropost-<%= story.id %>">
    <span><%= story.name %></span>
    <span><%= story.description %></span>
    <span><%= story.backlog %></span>
    <span><%= story.sprint  %></span>
    <span><%= story.project %></span>
    <span><%= story.input %></span>
    <span><%= story.output %></span>
    <span><%= story.ratting %></span>


    <span><%= link_to 'Show', story %></span>
    <span><%= link_to 'Edit', edit_story_path(story) %></span>
    <span><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </li>

<br>


