<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Backlog:</strong>
  <%= @story.backlog %>
</p>



<p>
  <strong>Projects:</strong>
  <%= @story.project %>
</p>

<p>
  <strong>Sprint:</strong>
  <%= @story.sprint %>
</p>

<p>
  <strong>Input:</strong>
  <%= @story.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @story.output %>
</p>

<p>
  <strong>Ratting:</strong>
  <%= @story.ratting %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
