<% provide(:title, @micropost.content) %>
<p id="notice"><%= notice %></p>

<p>
  <strong> Content:</strong>
  <%= @micropost.content %>
</p>





<%= link_to 'Edit', edit_micropost_path(@micropost),class: 'btn btn-info btn-xs' %> |
<%= link_to 'Back', micropost_path,class: 'btn btn-danger btn-xs' %>
