// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#project_backlog{
  float:left;
  width:200px;
}

#list-B{
  float:left;
  width:200px;
}

#sprint_backlog{
  float:left;
  width:200px;
}

#project_backlog ul li {
  list-style-type: none;
  border-bottom:1px solid black;

}

#list-B ul li {
   list-style-type: none;
   border-bottom : 1px solid black;
 }

#sprint_backlog  ul li {
  list-style-type: none;
  border-bottom : 1px solid black;
}
div.parent{
  border:solid black 1px;
  display:table;
  padding:5px;
  width:100%;
  margin:5px 0; /* you can change/remove margin */
}
div.text{
  vertical-align:middle;
  display:table-cell;
  text-align:justify;
}
div.parent .img{
  vertical-align:middle;
  display:table-cell;
  padding-right:5px;
  width:50px; /* you can change width */
}
div.img img{
  width:100%;
  height:50px; /* you can change height */
  vertical-align:middle;
}


.clear{
  clear:both;
}


#sprint{
  float:left;
  width:200px;
}

#sprint ul li {
  list-style-type: none;
  border-bottom:1px solid black;

}


#in_progress{
  float:left;
  width:200px;
}

#in_progress ul li {
  list-style-type: none;
  border-bottom:1px solid black;

}

#sprint_backlog{
  float:left;
  width:200px;
}

#sprint_backlog ul li {
  list-style-type: none;
  border-bottom:1px solid black;

}

#sprint_done{
  float:left;
  width:200px;
}

#sprint_done ul li {
  list-style-type: none;
  border-bottom:1px solid black;

}

